body {
    font-family: sans-serif;
    background: #c4c4c4;
}
table {
    width: 80%;
    height: 100%;
}
.kol2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
form {
    width: 500px;
    margin: 30px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.kontainer {
    width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background: #FFF;
    border: 1px solid #DDD;
    box-shadow: 0 0 5px #FFF;
    border-radius: 10px;
}
label, input {
    align-self: center;
}
table {
    width: 300px;
    background: #fcfcfc;
    margin: 10px 0 20px;
    /* border: 1px solid #e9e9e9;
    padding: 10px; */
    text-align: right;
    border-collapse: collapse;
    max-height: 100% !important;
}
table.month caption {
    font-size: 12px;
}
table td {
    border: 1px solid #e9e9e9;
    padding: 5px 5px 10px 0;
    font-size: 13px;
}
table.month th {
    font-size: 12px;
    padding: 10px;
}
table.month td.vecka {
    background: #fafcf1;
}
table.month td.helg {
    background: #fff1f1;
}