table {
    width: 300px;
}
form {
    width: 500px;
    margin: 30px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.kontainer {
    width: 500px;
    margin: 30px auto;
    padding: 30px;
    background: #f0f0f0;
    border: 1px solid #DDD;
    box-shadow: 0 0 5px #FFF;
    border-radius: 10px;
}